<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>WRINK</string>
	<key>CFBundleIdentifier</key>
	<string>com.wrinkaps.WRINK</string>
	<key>CFBundleVersion</key>
	<string>1.0.9</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/BebasNeueBold.otf</string>
		<string>Fonts/BebasNeueRegular.otf</string>
		<string>Fonts/Graphik-Bold.otf</string>
		<string>Fonts/Graphik-Regular.otf</string>
		<string>Fonts/FontAwesome.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar(s).</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcon.appiconset</string>
	<key>CFBundleName</key>
	<string>WRINK</string>
</dict>
</plist>
